.modal-div {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.40); /* Black w/ opacity */
    vertical-align: middle;
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
caption {
    color:rgb(107, 37, 34);
}
td {
    width:80px;
}
table {
    border:1px solid rgb(49, 84, 2);
    margin-right:5px;
    margin-bottom:5px;
    display:inline-block;
    float:left;
}
.label {
    color:rgb(104, 104, 2);
}
.value {
    color:rgb(136, 79, 3);
}
.addRobotButton {
    background-color:black;
    color:rgb(49, 84, 2);
    border:1px solid rgb(49, 84, 2);
    font-size:40px;
    vertical-align:middle;
    float:left;
    width:172px;
    height:154px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top:0px;
}
.addRobotButton:hover {
    background-color:rgb(49, 84, 2);
    color:black;
}
#col {
    display:inline-block;
    float:left;
    height:100%;
    width:50%;
}
#heading {
    width:708px;
    text-align:center;
    margin-top:-5px;
    margin-left:-5px;
    margin-bottom:10px;
    border-bottom:1px solid rgb(113, 14, 2);
}
#robot-container {
    border:1px solid rgb(113, 14, 2);
    padding-left:5px;
    padding-top:5px;
    float:left;
    width:708px;
    margin-bottom:20px;
}
#settings-container {
    border:1px solid rgb(113, 14, 2);
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    float:left;
    width:708px;
}
#graphics-container {
    display:inline-block;
    margin:20px;
    border:1px solid grey;
    float:right;
    width:50%;
    height:100%;
}
body {
    background-color:black;
    color: rgb(100, 70, 51);
}