.modal-div {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    margin:0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.40);
    pointer-events:all;
}
.modal-content {
    background-color: white;
    padding:5px;
    border: 1px solid black;
    width: 80%;
    height: 80%;
    margin:0 auto;
    margin-top:5%;
    pointer-events: none;
}
.modal-content-header{
    padding:0;
    margin:0 auto;
    width:100%;
    background-color:white;
}
.add-robot-title {
    margin:0 auto;
    text-align:center;
    font-size:35px;
}
.close {
    color: black;
    float: right;
    margin-top:-15px;
    padding:0;
    height:10px;
    font-size: 30px;
    pointer-events:all;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
caption {
    color:black;
}
td {
    width:80px;
}
table {
    border:1px solid green;
    margin-right:5px;
    margin-bottom:5px;
    display:inline-block;
    float:left;
}
.label {
    color:black;
}
.value {
    color:black;
}
.addRobotButton {
    background-color:white;
    color:black;
    border:1px solid black;
    font-size:40px;
    vertical-align:middle;
    float:left;
    width:172px;
    height:154px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top:0px;
}
.addRobotButton:hover {
    background-color:white;
    color:green;
}
#col {
    display:inline-block;
    float:left;
    height:100%;
    width:50%;
}
#heading {
    width:708px;
    text-align:center;
    margin-top:-5px;
    margin-left:-5px;
    margin-bottom:10px;
    border-bottom:1px solid black;
}
#robot-container {
    display:inline-block;
    border:1px solid black;
    margin-left:5px;
    margin-top:5px;
    float:left;
    width:200px;
    height:100%;
    margin-bottom:20px;
}
#settings-container {
    display:inline-block;
    border:1px solid black;
    margin-left:20px;
    width:200;
}
#graphics-container {
    display:inline-block;
    margin:20px;
    border:1px solid grey;
    float:right;
    width:50%;
    height:100%;
}
body {
    background-color:white;
    color: black;
}